@font-face {
    font-family: "OVERWATCH";
    src: url("FUENTES/OVERWATCH/OVERWATCH.ttf") format("truetype");
}
html{
    background-color: #ffd9ba;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
.nombremapa{
    font-family: "overwatch", "sans-serif";
}
  
header {
    background-color: #ffb269;
    color: #fff;
    padding: 20px;
  }
  .titulomapas{
    font-family: "OVERWATCH", "sans-serif";
    height: 20%;
    text-align: center;
    font-family: "OVERWATCH", sans-serif;
    font-size: 40px;
    text-shadow: 2px 2px 3px black;
    color: rgb(230, 230, 230);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
  }
  .titulomapas:hover{
        color: rgb(122, 255, 248);
        transition: color 0.5s ease-in-out;     
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 50px;
  }
  
  h2 {
    font-size: 32px;
    margin-top: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
