@font-face {
  font-family: "OVERWATCH";
  src: url("FUENTES/OVERWATCH/OVERWATCH.ttf") format("truetype");
}
@font-face {
  font-family: "overwatchmenu";
  src: url("FUENTES/overwatchmenu/overwatchmenu.ttf") format("truetype");
}
.titulo{
  height: 20%;
  text-align: center;
  font-family: "OVERWATCH", sans-serif;
  font-size: 40px;
  text-shadow: 2px 2px 3px black;
  color: rgb(230, 230, 230);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}
h1:hover {
  color: rgb(236, 182, 63);
  transition: color 0.5s ease-in-out;
}
.personajes {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }
  
  .personaje {
    width: 280px;
    margin: 20px;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 20px solid black;
    box-shadow:
    0 0 5px #fff,
    0 0 5px #fff, 
    0 0 10px #fff, 
    0 0 20px rgb(255, 255, 255), 
    0 0 25px rgb(248, 248, 248), 
    inset 0 0 10px rgba(255,255,255,0.3); 
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    background: linear-gradient(to bottom, #7facdf, #c9eaff);
    border-radius: 3%;
    color: black;
  }
  
  .personaje img {
    width: 100%;
    height: auto;
  }

  .personaje p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    text-justify: auto;
  }
  h2{
    margin-top: 20px;
    font-family: "overwatchmenu", sans-serif;
    text-align: center;
    color: rgb(236, 182, 63);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    font-size: 200%;
  }
  .botones{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}
button {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  background-color: rgb(236, 182, 63);
  color: rgb(212, 145, 0);
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);
  font-family: "overwatchmenu", "sans-serif";
}
a{
  color: white;
}
html{
  background: linear-gradient(to bottom, #0166d1, #87cefa)
}

.personaje {
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.personaje:hover {
  transform: scale(1.2);
}
.icono{
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;

}
.iconos{
			width: 100%;
			height: 50px;
			color: white;
			text-align: center;
}
.icono:hover {
  transform: scale(1.2);
}
button {
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(1.2);
}

